<%- include('./partials/header'); %>
<div id="bookchapter" class="mainContent" customFontSize="true">
    <div id="scrollBox">
        <h1 class="textCenter"><%= bookChapter.name %></h1>
        <div id="chapterContent">
            <%- bookChapter.data %>
        </div>
    </div>
</div>
<div id="navbar">
    <span id="scrollDown" class="toRight"
    <% if (bookChapter.next) { %> 
        data-href="/ink/bookchapter/<%= bookId %>/<%= bookChapter.next.index %>"
    <% } %>
    >下一页</span>
    <span id="scrollUp" class="toRight"
    <% if (bookChapter.prev) { %> 
        data-href="/ink/bookchapter/<%= bookId %>/<%= bookChapter.prev.index %>"
    <% } %>
    >上一页</span>
    <span class="anchor" data-href="/ink/">首页</span>
    <span class="anchor" data-href="/ink/bookdetail/<%= bookId %>">目录</span>
    <span onclick="changeFontSize(0.2)">放大</span>
    <span onclick="changeFontSize(-0.2)">缩小</span>
</div>

<%- include('./partials/footer') %>
