<%- include('./partials/header'); %>
<div id="bookdetail" class="mainContent">
    <div id="scrollBox">
        <div>
            <h1><%= book.name %></h1>
            <ul>
                <li>作者：<%= book.authorName %></li>
                <li>最新章节：<%= book.lastChapter %></li>
            </ul>
        </div>
        <div>
            <h2 class="title">目录</h2>
            <ul>
                <% for (var i = 0; i < book.spine.length; i++) {
                    var chapterIndex = book.reverseOrder ? book.spine.length - 1 - i : i;
                    var chapterName = book.spine[chapterIndex].name;
                %>
                    <li><a href="/ink/bookchapter/<%= book.id %>/<%= chapterIndex %>"><%= chapterName %></a></li>
                <% } %> 
            </ul>
        </div>
        <div id="emptyBox"></div>
    </div>
</div>
<div id="navbar">
    <span class="anchor" data-href="/ink/">首页</span>
    <span id="scrollDown" class="toRight">下一页</span>
    <span id="scrollUp" class="disabledAnchor toRight">上一页</span>
</div>
<%- include('./partials/footer') %>
