<%- include('./partials/header'); %>
<% if (user.username) { %>
    <p>hello, <%= user.username %></p>
<% } else { %>
    <a href="/ink/login">Login</a>
<% } %>
<ol>
<% books.forEach(book => { %>
    <li><a href="/ink/bookdetail/<%= book.id %>"><%= book.name %></a> <%= book.authorName %></li>
<% }); %>
</ol>
<a href="/ink/logout">Logout</a>
<%- include('./partials/footer') %>
