<%- include('./partials/header'); %>
<% if (user.username) { %>
    <p>hello, <%= user.username %></p>
<% } else { %>
    <a href="/ink/login">Login</a>
<% } %>
<div id="mainContent">
    <ol>
    <% books.forEach(book => { %>
        <li><a href="/ink/bookdetail/<%= book.id %>"><%= book.name %></a> <%= book.authorName %></li>
    <% }); %>
    </ol>
</div>
<div class="navbar">
    <span class="anchor toRight" data-href="/ink/logout">退出</span>
</div>
<%- include('./partials/footer') %>
